<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
</head>
<body>
<a href="/admin/customer">회원조회</a>
<a href="/admin/store">업체조회</a>
<a href="/admin/blackList">블랙리스트</a>
<a href="/admin/coupon">쿠폰등록</a>
<a href="/admin/coupon/">쿠폰리스트</a>
<a href="/admin/rider">라이더등록</a>
<a th:href="@{|/review/save|}">리뷰작성</a>
<!--<a href="/review/orderList">주문목록 페이지</a>-->
<!--<span th:text="${orderList}"></span>-->

<a href="/review/store">업체 리뷰관리</a> <!--사장님이 회원리뷰 보는 곳-->

<button type="button" onclick="location.href='/admin/customerReport'">신고하기</button>

<a href="/admin/store">가게로 이동</a>


로그인아이디 : <span th:text="${session['customerLoginEmail']}"></span>


</body>
</html>