<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>쿠폰리스트</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const coupon_save = (couponNumber) =>{
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log("쿠폰쿠폰")
            $.ajax({
                type:'post',
                url:'/customer/coupon',
                data:{"couponNumber":couponNumber},
                dataType:'text',
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success:function (result) {
                    console.log(result);
                    if (result === "ok"){
                        alert("쿠폰이 등록 되었습니다!")
                    } else if (result === "no") {
                        alert("이미 등록된 쿠폰입니다!")
                    }
                },
                error: function (){
                    alert("아작아작");
                }
            });
        }
    </script>
</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }
</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-3">
                <span id = logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class = "col-2">
                <!-- 공백란 -->
            </div>
            <div class = "col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id= "menuBar-text">
                    마이페이지 주문내역 찜내역
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->
<section>
<table>
    <tr>
        <th>쿠폰번호</th>
        <th>쿠폰이름</th>
        <th>조건</th>
        <th>가격</th>
        <th>쿠폰 가져오기</th>
    </tr>
    <tr th:each = "coupon : ${couponList}">
        <td th:text="${coupon.couponNumber}"></td>
        <td th:text="${coupon.couponName}"></td>
        <td th:text="${coupon.couponCondition}"></td>
        <td th:text="${coupon.couponPrice}"></td>
        <td><button th:onclick="coupon_save([[${coupon.couponNumber}]])">쿠폰 가져오기</button></td>
    </tr>
</table>
</section>
<footer>

</footer>
</body>
</html>