<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원조회</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!--회원삭제-->
    <script>
        function deleteCustomer(customerNumber){
            const reqUrl = "/admin/" + customerNumber;
            const data = {"customerNumber" : customerNumber};
            $.ajax({
                type:"delete",
                url : reqUrl,
                // data: JSON.stringify(data), 필요없음
                // dataType: "json", // 받아올 필요가 없어서 생략 가능
                success: function(result){
                    console.log(result);
                    location.href="/admin/customer";
                },
                error: function(){
                    console.log('ajax실패');
                }
            });
        }

    </script>

    <script>
        const blackCustom_btn = (customerNumber) => {
            location.href="/admin/customerReport/" + customerNumber;
        }


    </script>



</head>
<body>
<table>
    <tr>
        <th>회원번호</th>
        <th>회원이메일</th>
        <th>회원닉네임</th>
        <th>회원삭제</th>
        <th>신고하기</th>
    </tr>
    <tr th:each = "customer : ${customerList}">
        <td th:text="${customer.customerNumber}"></td>
        <td th:text="${customer.customerEmail}"></td>S
        <td th:text="${customer.customerNickname}"></td>
        <td><button th:onclick="deleteCustomer([[${customer.customerNumber}]])">삭제</button></td>
<!--        <td><a th:href="@{|/admin/delete/${customer.customerNumber}|}">회원삭제</a></td>-->
<!--        <button type="button" onclick="location.href='/admin/customerReport/${customerList.customerNumber}'">신고하기</button>-->
       <td><button type="button" th:onclick="blackCustom_btn([[${customer.customerNumber}]])">회원신고</button></td>

<!--        <td><button th:onclick="blackCustom_btn([[${customer.customerNumber}]])">회원신고</button></td>-->
    </tr>
</table>
</body>
</html>