<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/form.css" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>회원신고페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
    const reportbtn = () => {
        // fomdata = $("#report_form").serialize();
        const customerNum = $('#customerNumber').val();
        console.log(customerNum);
        const loginEmail = document.getElementById('loginEmail').value;
        console.log(loginEmail);
        const opinion = document.getElementById('reportOpinion').value;
        console.log(opinion);

        const check = document.getElementsByName('reportCause').values;

        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');

        // name이 같은 체크박스으 값을 배열에 담음
        const reportCauseArr = [];
        $("input[name='reportCause']:checked").each(function(i){
            reportCauseArr.push($(this).val()); // 체크된 것만 뽑아서 배열에 push
        });
        const form = $('#report_form').serialize();
        console.log(form);

        // console.log(reportCauseArr);
        //
        // // 회원번호랑 체크박스값(배열)을 name/value 형태로 담음
        // const Data = JSON.stringify({customerNumber : customerNum,
        //     customerLoginEmail : loginEmail,
        //     reportCause : check,
        //     reportOpinion : opinion});
        //
        // console.log(Data);

        $.ajax({
            url: "/admin/customerReport",
            type: "post",
            data: form,
            dataType: 'text', // 값 받아오는 타입
            // contentType : 'application/json', // 보내는 타입
            beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
            success: function(result){
                console.log('성공');
                console.log(result);
            },
            error: function(){
                console.log('실패');
            }
        });


    }
    </script>
</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }
</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-3">
                <span id = logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class = "col-2">
                <!-- 공백란 -->
            </div>
            <div class = "col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id= "menuBar-text">
                       <a href="/usual/logout"> 로그아웃</a>
                        <a href="/customer/"> 마이페이지</a>
                        <a href="/customer/basket"> 장바구니</a>
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->
<section>
<form id="report_form">
    <input type="hidden" id="customerNumber" name="customerNumber" th:value="${customerNumber}" > <!--회원번호?-->
    <input type="hidden" id="loginEmail" name="customerLoginEmail" th:value="${session['customerLoginEmail']}">
<filedset>
    <input type="checkbox" name="reportCause" value="1"> 주문과 관련없는 내용
    <input type="checkbox" name="reportCause" value="2"> 음란성, 욕설 등 부적절한 내용
    <input type="checkbox" name="reportCause" value="3"> 부적절한 홍보 또는 광고
    <input type="checkbox" name="reportCause" value="4"> 개인정보 유출위험
    <input type="checkbox" name="reportCause" value="5"> 리뷰작성 취지에 맞지 않는 내용
</filedset>
    <textarea id="reportOpinion" name="reportOpinion" cols="70" roww="4"></textarea>
</form>
    <input type="button" value="신고하기" onclick="reportbtn()">
</section>
<footer></footer>
</body>
</html>