<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/form.css" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>업체신고</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function storeReportbtn(){
            const form = $('#storeReport_form').serialize();
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log(form);

            $.ajax({
                url : "/admin/sblackList",
                type: "get",
                data : form,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success : function(){
                    console.log('성공');
                },
                error: function(){
                    console.log('실패');
                }

            })
        }
    </script>

</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }
</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-3">
                <span id = logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class = "col-2">
                <!-- 공백란 -->
            </div>
            <div class = "col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id= "menuBar-text">
                       <a href="/usual/logout"> 로그아웃</a>
                        <a href="/customer/"> 마이페이지</a>
                        <a href="/customer/basket"> 장바구니</a>
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->

<section>
<form id="storeReport_form">
    <input type="hidden" id="storeNumber" name="storeNumber" th:value="${storeNumber}" > <!--업체번호?-->
    <input type="hidden" id="loginEmail" name="customerLoginEmail" th:value="${session['customerLoginEmail']}">
    <filedset>
        <input type="checkbox" name="reportCause" value="1"> 불친절함
        <input type="checkbox" name="reportCause" value="2"> 청결하지 않음
        <input type="checkbox" name="reportCause" value="3"> 부적절한 홍보 또는 광고
        <input type="checkbox" name="reportCause" value="4"> 과대광고
    </filedset>
    <textarea id="reportOpinion" name="reportOpinion" cols="70" roww="4"></textarea>
</form>
<input type="button" value="신고하기" onclick="storeReportbtn()">
</section>
<footer>

</footer>
</body>
</html>