<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>업체신고</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function storeReportbtn(){
            const form = $('#storeReport_form').serialize();
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log(form);

            $.ajax({
                url : "/admin/sblackList",
                type: "get",
                data : form,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success : function(){
                    console.log('성공');
                },
                error: function(){
                    console.log('실패');
                }

            })
        }
    </script>

</head>
<body>
<form id="storeReport_form">
    <input type="hidden" id="storeNumber" name="storeNumber" th:value="${storeNumber}" > <!--업체번호?-->
    <input type="hidden" id="loginEmail" name="customerLoginEmail" th:value="${session['customerLoginEmail']}">
    <filedset>
        <input type="checkbox" name="reportCause" value="1"> 불친절함
        <input type="checkbox" name="reportCause" value="2"> 청결하지 않음
        <input type="checkbox" name="reportCause" value="3"> 부적절한 홍보 또는 광고
        <input type="checkbox" name="reportCause" value="4"> 과대광고
    </filedset>
    <textarea id="reportOpinion" name="reportOpinion" cols="70" roww="4"></textarea>
</form>
<input type="button" value="신고하기" onclick="storeReportbtn()">
</body>
</html>