<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>[뭐먹을까요:업체] 메뉴등록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const categorySave = () => {
            console.log("categorySave");
            const value = document.getElementById('categorySave_value').value;
            const number = document.getElementById('storeCategoryNumber');
            const name = document.getElementById('storeCategoryName');

            if (value==="직접입력"){
                name.type = "text";
                number.value = "0";
            } else {
                number.value = value;
                name.type = "hidden";
            }

        }
    </script>
</head>
<body>

<span th:text="${session['storeLoginEmail']}"}> </span>
님 메뉴추가요청

<form action ="/store/menu" th:object="${menuSave}" method = "post" enctype="multipart/form-data">
    <div id = "menuCategorySelect">
        <select id="categorySave_value" onchange="categorySave()">
            <option th:each="s:${storeCategory}" th:value="${s.storeCategoryNumber}"><span th:text="${s.storeCategoryName}"></span></option>
            <option selected> 소메뉴 선택</option>
            <option value="직접입력">직접 입력</option>
        </select>
        <input type ="hidden" th:field="*{storeCategoryNumber}" value="0">
        <input type ="hidden" th:field="*{storeCategoryName}">
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" th:field="*{menuName}" placeholder="메뉴이름"><br>
    <input type="text" th:field="*{menuExplain}" placeholder="메뉴설명"><br>
    <input type="text" th:field="*{menuPrice}" placeholder="가격"><br>
    <input type="file" th:field="*{menuFile}" placeholder="메뉴사진"><br>
    <input type="hidden" name="storeNumber" th:value="${storeNumber}"  placeholder="이게 있어야하지않나?"><br>

    <input type = "submit" value="메뉴등록">

</form>
</body>
</html>