<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/layout2.css" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>[뭐먹을까요:업체] 주문현황상세 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<style>
    .container-section {
        font-family: 'LeeSeoyun';
    }


    #orderNow {
        border: 0.5px solid;
        border-color: coral;
        border-radius: 0.5rem;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #requestByCustomer {
        border: 0.5px solid;
        border-color: coral;
        border-radius: 0.5rem;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #orderMenu {
        border: 0.5px solid;
        border-color: coral;
        border-radius: 0.5rem;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #helloRider {
        border: 0.5px solid;
        border-color: coral;
        border-radius: 0.5rem;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #form-check{
        left: 50%;
        transform: translate(50%,0);

    }
    #riderSelect {
        color: blanchedalmond;
        font-weight: bold;
    }

</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <span id=logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class="col-2">
                <!-- 공백란 -->
            </div>
            <div class="col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id="menuBar-text">
                    <div th:if="${session.storeLoginEmail}">
                        <a href="/usual/logout">로그아웃</a>
                        <a th:href="@{|/store/menuControl/${session['storeLoginEmail']}|}">메뉴관리</a>
                        <a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}"> 주문관리</a>
                        <a href="/storeMain"> 스토어관리 </a>
                    </div><!-- 업체로그인시 -->
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->
<section>
    <div class="container-section">
        <div class="leftMenuBar">
            <p><a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}">오늘의 주문</a></p><br>
            <p><a href="/storeMain">메인으로</a></p><br>
        </div>
        <form class="row g-3" id="rightMenuInfo">
            <div class="col-md-6" id="orderNow">
                <div class="textArea1">
                <h4><label class="form-label">주문현황</label></h4>
                <div class="mg-3 row">
                    <label for="order1" class="col-sm-4">배달상태</label>
                    <div class="col-sm-8"><p id="order1" th:text="${order.orderNow}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="order2" class="col-sm-4">업체명</label>
                    <div class="col-sm-8"><p id="order2" th:text="${order.storeName}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="order3" class="col-sm-4">주문날짜</label>
                    <div class="col-sm-8"><p id="order3" th:text="${order.orderTime}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="order4" class="col-sm-4">주문번호</label>
                    <div class="col-sm-8"><p id="order4" th:text="${order.orderNumber}"></p></div>
                </div>
                </div>
            </div><!-- 주문현황 -->
            <div class="col-md-5" id="requestByCustomer">
                <div class="textArea1">
                <h4><label class="form-label">고객요청</label></h4>
                <div class="mg-3 row">
                    <label for="reque1" class="col-sm-4">총금액</label>
                    <div class="col-sm-8"><p id="reque1" th:text="${order.orderPrice}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="reque2" class="col-sm-4">결제 방법</label>
                    <div class="col-sm-8"><p id="reque2" th:text="${order.orderType}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="reque3" class="col-sm-4">주소</label>
                    <div class="col-sm-8"><p id="reque3" th:text="${customer.customerAddress}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="reque4" class="col-sm-4">연락처</label>
                    <div class="col-sm-8"><p id="reque4" th:text="${customer.customerPhone}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="reque5" class="col-sm-4">사장님께</label>
                    <div class="col-sm-8"><p id="reque5" th:text="${order.orderTomaster}"></p></div>
                </div>
                <div class="mg-3 row">
                    <label for="reque6" class="col-sm-4">라이더님께</label>
                    <div class="col-sm-8"><p id="reque6" th:text="${order.orderTorider}"></p></div>
                </div>
                </div>
            </div> <!-- 고객요청 -->
            <div class="col-6" id="orderMenu">
                <div class="textArea1">
                <h4><label class="form-label">주문메뉴</label></h4>
                <div class="mg-3 row">
                    <ul th:each="m :${menu}">
                        메뉴: <span th:text="${m.menuName}"></span><br>
                        수량: <span th:text="${m.orderMenuCount}"></span><br>
                        금액: <span th:text="${m.orderMenuPrice}"></span><br>
                    </ul>
                </div>
                </div>
            </div><!-- 주문메뉴 -->
            <div class="col-5" id="helloRider">
                <div class="textArea1">
                <h4><label class="form-label">라이더선택</label></h4>
                <button type="button" class="btn btn-light" style="background-color: coral" id="riderSelect" onclick="popUp()">배달요청</button>
                <span id="plz" style="display: none"> 배달요청 실행하면 나옵니다 </span>
                </div>
            </div> <!--라이더선택 -->
            <div class="col-4" id="form-check">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        맛있고 건강한 음식을 배달합니다.
                    </label>
                </div>
            </div>
            <div class="col-12">
                <a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}" class="btn btn-light"
                   tabindex="-1" id="orderFinish" role="button" style="display:none;" aria-disabled="true">배달출발</a>
            </div>
        </form>

    </div>
</section>
<footer>
    '뭐먹을까요-ET' 는 소상공인을 응원합니다.
</footer><!--footer 내용고정 (변경할 멘트 있으시면 적어주셔도 됩니당)-->
</body>

<script>
    //팝업을 합니다.
    function popUp() {
        const orderNum = '[[${order.orderNumber}]]';
        window.open("/store/riderList/" + orderNum, "riderList", "width=400, height=300, left=100, top=50");
        console.log("팝업누름");
    }

    //팝업창의 데이터를 가져옵니다.
    function getPopupData(riderNumber, riderName) {
        const plz = document.getElementById('plz');
        plz.innerHTML = riderName + "님께 배달출발요청 하였습니다.";

        $("#plz").show();
        $("#riderSelect").hide();
        $("#orderFinish").show();

    }

</script>
</html>