<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/layout2.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>[뭐먹을까요:업체] 판매현황 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<style>
    a {
        text-decoration-line: none;
    }

    /* 하이퍼링크 꾸밈요소 삭제 */
    a:link {
        color: sandybrown;
    }

    /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }

    a:hover {
        color: coral;
    }

    a:active {
        color: deeppink;
    }

    .rightContainer {
        font-family: 'LeeSeoyun';
        /*text-align: center;*/
    }

    #sumBtn1 {
        margin: 10px;
        color: blanchedalmond;
        font-weight: bold;
        border: blanchedalmond;
        border-radius: 5px;
    }

    #sumBtn2 {
        margin: 10px;
        color: blanchedalmond;
        font-weight: bold;
        border: blanchedalmond;
        border-radius: 5px;
    }
    #monthMonth {
        transform: translate(45%, 0%);
    }
    #dailyDate {
        transform: translate(45%, 0%);
    }
</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <span id=logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class="col-2">
                <!-- 공백란 -->
            </div>
            <div class="col-2">

            </div>
            <div class="col-4">
                <span id="menuBar-text">
                    <div th:if="${session.storeLoginEmail}">
                        <a href="/usual/logout">로그아웃</a>
                        <a th:href="@{|/store/menuControl/${session['storeLoginEmail']}|}">메뉴관리</a>
                        <a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}"> 주문관리</a>
                        <a href="/storeMain"> 스토어관리 </a>
                    </div><!-- 업체로그인시 -->
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 수정완 -->
<section>
    <div class="container-section-sale">
        <div class="leftMenuBar">
            <p class="lmp" onclick="dailyView()"> 하루 매출 </p><br>
            <p class="lmp" onclick="monthView()"> 한달 매출 </p>

        </div>
        <div class="rightContainer">
            <div id="month_sale">
                <h2><div class="row" id="monthMonth"></div></h2>
                <table class="table table-warning" id=monthSaleTable>
                    <thead>
                    <th> 주문일</th>
                    <th> 총액</th>
                    </thead>
                    <tbody>
                    <tr th:each="sale:${sale}">
                        <td th:text="${sale.dailySaleTime}"></td>
                        <td th:text="${sale.dailySalePrice}"></td>
                    </tr>
                    </tbody>

                </table>
                <div class="sum">
                    <button class="col-1" id="sumBtn1" style="background-color: coral" onclick="sumMonthSale()"> 총액</button>
                    <span class="col-1" id="sumM"></span>
                </div>
            </div>
            <div id="daily_sale" style="display: none;">
                <h2><div class="row" id="dailyDate"></div></h2>
                <table class="table table-warning" id=dailySaleTable>
                    <!--<span data-th-text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span>-->
                    <thead>
                    <th> 주문시간</th>
                    <th> 주문번호</th>
                    <th> 메뉴</th>
                    <th> 주문금액</th>
                    <th> 고객번호</th>
                    </thead>
                    <tbody>
                    <tr th:each="od:${order}" >
                        <td th:text="${od.orderTime}"></td>
                        <td th:text="${od.orderNumber}"></td>
                        <td th:text="${od.menuName}"></td>
                        <td th:text="${od.orderPrice}"></td>
                        <td th:text="${od.customerNumber}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="sum">
                    <button class="col-1" id="sumBtn2" style="background-color: coral" onclick="sumDailySale()"> 총액</button>
                    <span class="col-1" id="sumD"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="msgStack"></div>
</body>
<script>
    function monthView() {
        console.log("month버튼 누름")
        $("#month_sale").show();
        $("#daily_sale").hide();
    }

    //월별 정산, 합산액
    function sumMonthSale() {
        const table = document.getElementById('monthSaleTable');
        console.log(table);

        //합계계산
        let sum = 0;
        for (let i = 1; i < table.rows.length; i++) {
            sum += parseInt(table.rows[i].cells[1].innerHTML);
        }
        document.getElementById('sumM').innerText = sum;
    }

    //월매출 날짜
    date = new Date();
    var month = ('' + (date.getMonth() + 1)).slice(-2);
    document.getElementById("monthMonth").innerHTML = month + "월";
    /*document.getElementById("dailyDate").innerHTML = Date();*/
</script><!--month-->
<script>

    function dailyView() {
        console.log("daily버튼 누름")
        $("#month_sale").hide();
        $("#daily_sale").show();
    }

    //금일 정산
    function sumDailySale() {
        const table = document.getElementById('dailySaleTable');
        console.log(table);

        //합계계산
        let sum = 0;
        for (let i = 1; i < table.rows.length; i++) {
            sum += parseInt(table.rows[i].cells[3].innerHTML);
        }
        document.getElementById('sumD').innerText = sum;
    }

    //일매출 날짜
    date = new Date();
    var month = ('0' + (date.getMonth() + 1)).slice(-2);
    var day = ('0' + date.getDate()).slice(-2);
    document.getElementById("dailyDate").innerHTML = month + "월" + day + "일";
    /*document.getElementById("dailyDate").innerHTML = Date();*/
</script>
<script src="/js/webSocket.js"></script>
</html>