<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/layout1.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>[뭐먹을까요:업체] 매장페이지 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }
</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-3">
                <span id = logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class = "col-2">
                <!-- 공백란 -->
            </div>
            <div class = "col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id= "menuBar-text">
                    마이페이지 주문내역 찜내역
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->
    <section>
        <!--<span th:text="${session['storeLoginEmail']}"></span> 사장님 어서오세요!-->
        <h2><span th:text="${storeList.storeName}"></span> 입니다</h2>

        <div id="storeDataView">
            <img th:src="@{|/upload/${storeList.getStoreFilename()}|}" alt="사진">
            <h4><td th:text="${storeList.storeName}"> </td></h4>
            주소: <td th:text="${storeList.storeAddress}"> </td><br>
            연락처: <td th:text="${storeList.storePhone}"> </td><br>
            오픈시간: <td th:text="${storeList.storeOpen}"> </td>
            마감시간: <td th:text="${storeList.storeClose}"> </td><br>

            ❤ <td th:text="${storeList.storeWish}"> </td>
        </div>
    </section>

        <button onclick="MenuBtn()" > 메뉴 </button>
        <button onclick="reviewBtn()" > 리뷰 </button>

        <div id="menuArea">
            된다 흑흑 ㅠㅠ

            <table>
                <thead>
                    <th> 메뉴사진 </th>
                    <th> 메뉴이름 </th>
                    <th> 메뉴설명 </th>
                    <th> 메뉴가격 </th>
                    <th> 일단수량버튼 </th> <!-- 주문하는 버튼으로 해야하나요? ?????-->
                </thead>
                <tbody>
                <tr th:each="menu: ${menuList}">
                    <th> <img th:src="@{|/upload/store/${menu.menuFilename}|}" alt="사진"></th>
                    <td th:text="${menu.menuName}"></td>
                    <td th:text="${menu.menuExplain}"></td>
                    <td th:text="${menu.menuPrice}"></td>
                    <td> <button th:onclick="count()"> 담기 </button> </td>
                    <td th:hidden="${menu.storeNumber}"></td>
                    <td th:hidden="${menu.storeCategoryName}"></td>
                </tr>

                </tbody>
            </table>
    </div>
        <div id = "reviewArea" style="display: none">
            리뷰출력예정
        <table>
            <thead>
            <tr>
                <th>일단 번호</th>
                <th>매장</th>
                <th>작성일</th>
                <th>사진</th>
                <th>메뉴</th>
                <th>리뷰 내용</th>
                <th>사장님 댓글</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${reviewList}">
                <td th:text="${r.reviewNumber}"></td>
                <td><a th:href="@{|/store/${r.storeNumber}|}"><p th:text="${r.storeName}"></p></a></td>
                <td th:text="${r.reviewTime}"></td>
                <td><!--리뷰 사진-->
                    <table>
                        <thead>
                        <tr><th>사진</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="menu : ${r.reviewFileDTOList}">
                            <td><img th:src="@{|/upload/review/${menu.reviewFilename}|}" alt=""></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!--            <td th:text="${r.menuName}"></td>-->
                <td th:text="${r.reviewComments}"></td>
                <td th:if="${r.replyDetailDTO != null}"><p th:text="${r.replyDetailDTO.replyContents}"></p></td>
            </tr>
            </tbody>
        </table>

        </div>



</body>
<script>

    function MenuBtn()  {
        $("#menuArea").show();
        $("#reviewArea").hide();
        console.log("메뉴버튼 클릭");
    }

</script> <!-- 메뉴버튼 클릭 -->


<script>
    const reviewBtn = () =>   {
        console.log("리뷰버튼 클릭")
        $("#reviewArea").show();
        $("#menuArea").hide();
        /*document.getElementById("menuArea").innerHTML = "review";*/
    };
</script> <!-- 리뷰버튼 클릭-->
<script>
    function delete_menu()  {
        console.log("delete_menu_btn 클릭")
        console.log(menuNumber);
        const requestUrl = "/store/delete/" + menuNumber;

        const menuName = document.getElementById('menuName').value;
        const menuExplain = document.getElementById('menuExplain').value;
        const menuPrice = document.getElementById('menuPrice').value;


        $.ajax({
            type: 'delete',
            url: 'redirect:/store/menuList',
            data: {
                'menuName' : menuName,
                'menuExplain' : menuExplain,
                'menuPrice': menuPrice
            },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                let output = "<table>\n" +
                    "<thead>\n" +
                    "<tr>+\n" +
                    "<th>메뉴이름</th>" + "\n" +
                    "<th>메뉴설명</th>" + "\n" +
                    "<th>메뉴가격</th>" + "\n" +
                    "</tr>" + "\n" +
                    "</thead>" + "\n" +
                    "<tbody>" + "\n";

                $.each(result, function (i) {
                    output += "<tr>";
                    output += "<td>" + result[i].menuName + "</td>";
                    output += "<td>" + result[i].menuExplain + "</td>";
                    output += "<td>" + result[i].menuPrice + "</td>";
                    output += "</tr>";
                })
            },
            error : function () {
                alert ("할수있어!");
            }
        });
    };
</script>

</html>