<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>[뭐먹을까요:업체] 매장가입 전 배송지 추가 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<span th:text="${session['storeLoginEmail']}"></span> 님, 배송지 추가 ㅎㄷㄷ

<div id="regionData"> <!-- 회원가입시 주소 저장했던 것 처럼 name값을 동일하게 적어주면 함께 입력 됨. -->

    <label>Option1</label> <!--첫번째 선택지-->
    <span class="spanInput"> <!--큰 지역 선택-->
                        <label><input type="radio" name="selectOption1" onclick="get_option2(event)" value="selectA"> 서울  </label>
                        <label><input type="radio" name="selectOption1"
                                      onchange="get_option2(event)" value="selectB"> 인천  </label>
                        <label><input type="radio" name="selectOption1"
                                      onchange="get_option2(event)" value="selectC"> 경기 북부 </label>
                        <label><input type="radio" name="selectOption1"
                                      onchange="get_option2(event)" value="selectD"> 경기 남부  </label>
                    </span>
    <br>
    <label>option2</label> <!--구 or 경기는 세부지역 선택-->
    <select name="selectOption2" id="selectOption2"
            onchange="get_option3(event)">
        <option value="option2"> 구/지역 선택</option>
    </select>

    <br>
    <label>option3</label>
    <!--<select name="selectOption3" id="selectOption3" onchange="get_option4(selectOption3.value)"> &lt;!&ndash; 동 or 경기는 동 / 구 선택 &ndash;&gt;-->
    <select name="selectOption3" id="selectOption3"> <!-- 동 or 경기는 동 / 구 선택 -->
        <!--<option value="option3" > 동 선택 </option> --><!--원래꺼-->
        <option value="option3"> 동 선택</option>
    </select>
    <input type="button" value="추가" onclick="addDname()">
    <form action="/store/delivery" id="storeDeliverySave" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div id="insertDname">

        </div>
        <input type="submit" value="배송지등록">
    </form>

    <br>
    <!--직접입력란 th:field="*{}"-->
    <br>

</div>
<div class="deliveryList">

</div>
<div>
    <input type="text" name="deliveryDTOList[].deliveryDname" placeholder="동이름">
    <input type="text" name="deliveryDTOList[].deliveryTime" placeholder="소요시간(분)">
    <input type="text" name="deliveryDTOList[].deliveryPrice" placeholder="배달비">
</div>
<div id="msgStack"></div>
</body>
<script>
    var count = 0;

    function addDname() {
        const view = document.getElementById('insertDname');
        const dname = document.getElementById('selectOption3').value;

        var output = "<div>\n" +
            "    <input type=\"text\" name=\"deliveryDTOList[" + count + "].deliveryDname\" placeholder=\"동이름\" value=" + dname + ">\n" +
            "    <input type=\"text\" name=\"deliveryDTOList[" + count + "].deliveryTime\" placeholder=\"소요시간(분)\">\n" +
            "    <input type=\"text\" name=\"deliveryDTOList[" + count + "].deliveryPrice\" placeholder=\"배달비\">\n" +
            "</div>";

        count += 1;
        view.innerHTML += output;
    }

    /*    function get_option4(option3)  {
            /!*const option3 = document.getElementById('selectOption3').value;*!/
            const number = document.getElementById('deliveryNumber');
            const name = document.getElementById('deliveryDname');

            if (option3==="직접입력"){
                name.type = "text";
                number.value = "0";
            } else {
                number.value = value;
                name.type = "hidden";
            }
        }*/
    /*function addDname() {

        /!*$("#insertDname").clone().appendTo(".deliveryList");*!/
        /!*const value = document.getElementById().value;*!/

        const number = document.getElementById('deliveryNumber');
        const name = document.getElementById('deliveryDname');

        /!*if (value === "직접입력"){
            name.type = "text";
            number.value = "0";
        } else {
            number.value = value;
            name.type = "hidden";
        }*!/
        console.log("addDname 누름")
    }*/
    function get_option2(event) {
        var option1 = event.target.value;
        // var option3 = document.getElementsByName('selectOption1');
        // for (i=0;i<option3.length;i++){
        //     if (option3[i].checked == true) {
        //         option1 = option3[i].checked.value;
        //     }
        // }
        var selectOption = document.getElementById('selectOption2');
        console.log(option1);


        //지역 선택시 구 출력
        if (option1 == "selectA") { //서울
            options = new Array("구역선택", "마포·용산", "서대문·은평", "도봉·노원", "성북·강북", "성동·광진", "중랑·송파·강동", "강서·양천", "영등포·구로·금천", "종로·중구", "강남·서초", "관악·동작");
            values = new Array("구역선택", "마포·용산", "서대문·은평", "도봉·노원", "성북·강북", "성동·광진", "중랑·송파·강동", "강서·양천", "영등포·구로·금천", "종로·중구", "강남·서초", "관악·동작");
            console.log(option1);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }

        } else if (option1 == "selectB") { //인천
            options = new Array("구역선택", "서구", "동구", "연수구", "미추홀구", "남동구", "중구", "계양구", "부평구");
            values = new Array("동 선택", "서구", "동구", "연수구", "미추홀구", "남동구", "중구", "계양구", "부평구");
            console.log(options);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }
        } else if (option1 == "selectC") { //경기 북부
            options = new Array("구역선택", "연천·포천", "가평·양평", "남양주·구리·하남", "동두천·양주·의정부", "파주·고양", "김포·부천");
            values = new Array("구역선택", "연천·포천", "가평·양평", "남양주·구리·하남", "동두천·양주·의정부", "파주·고양", "김포·부천");
            console.log(options);
            console.log(values);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }
        } else if (option1 == "selectD") { //경기 남부
            options = new Array("구역선택", "광명·시흥·안산", "안양·군포·과천·의왕", "성남·분당", "용인", "화성·오산", "평택", "평택", "안성·이천·여주");
            values = new Array("구역선택", "광명·시흥·안산", "안양·군포·과천·의왕", "성남·분당", "용인", "화성·오산", "평택", "평택", "안성·이천·여주");
            console.log(options);
            console.log(values);
        }
        // //select box 기본옵션 초기화
        // for (i = 0; i < 10; i++) {
        //     selectOption.options[i] = null;
        // }


        // seconds select box
        for (i = 0; i < options.length; i++) {
            selectOption.options[i] = new Option(options[i], values[i]);
            /*selectOption.options[i] = new Option(options[i], values[i]);*/
        }

    }

    function get_option3(event) {
        var option2 = event.target.value;
        var selectOption = document.getElementById('selectOption3');
        //구 선택시 동 나옴
        // secondsBox
        if (option2 == "미추홀구") { //1
            values = new Array("숭의동", "용현동", "도화동", "주안동", "학익동", "관교동", "문학동");
            options = new Array("숭의동", "용현동", "도화동", "주안동", "학익동", "관교동", "문학동");
        } else if (option2 == "계양구") { //인천
            options = new Array("효성동", "계양동", "작전동", "서운동", "직접입력");
            values = new Array("효성동", "계양동", "작전동", "서운동", "직접입력");
        }
        // 눈 속임용...
        else if (option2 == "마포·용산") { //인천
            options = new Array("아현동", "공덕동", "상암동", "마포동", "후암동", "용산동", "서계동", "이촌동", "이태원동", "직접입력");
            values = new Array("아현동", "공덕동", "상암동", "마포동", "후암동", "용산동", "서계동", "이촌동", "이태원동", "직접입력");
        } else if (option2 == "서구") { //인천
            options = new Array("백석동", "검암동", "경서동", "공촌동", "가정동", "가좌동", "연희동", "심곡동", "석남동", "직접입력");
            values = new Array("백석동", "검암동", "경서동", "공촌동", "가정동", "가좌동", "연희동", "심곡동", "석남동", "직접입력");
        } else if (option2 == "광명·시흥·안산") { //인천
            options = new Array("광명동", "철산동", "소하동", "하안동", "신천동", "대야동", "방산동", "정왕동", "월곶동", "상록구", "단원구", "직접입력");
            values = new Array("광명동", "철산동", "소하동", "하안동", "신천동", "대야동", "방산동", "정왕동", "월곶동", "상록구", "단원구", "직접입력");
        } else if (option2 == "연천·포천") { //인천
            options = new Array("연천읍", "전곡읍", "군남면·청산면", "신읍동", "자작동", "포천동", "동교동", "직접입력");
            values = new Array("연천읍", "전곡읍", "군남면·청산면", "신읍동", "자작동", "포천동", "동교동", "직접입력");
        }


        // for (i = 0; i < option2.length; i++) {
        //     selectOption.options[i] = null;
        // }

        // seconds select box
        for (i = 0; i < options.length; i++) {
            selectOption.options[i] = new Option(options[i], values[i]);
        }
    }
</script><!--선택한 주소지가 추가됩니다-->
<!--<script>
    function get_option2(option1, selectOption) {
        //지역 선택시 구 출력
        if (option1 == "selectA") { //서울
            options = new Array("구역선택", "마포·용산", "서대문·은평", "도봉·노원", "성북·강북", "성동·광진", "중랑·송파·강동", "강서·양천", "영등포·구로·금천", "종로·중구", "강남·서초", "관악·동작");
            values = new Array("구역선택", "마포·용산", "서대문·은평", "도봉·노원", "성북·강북", "성동·광진", "중랑·송파·강동", "강서·양천", "영등포·구로·금천", "종로·중구", "강남·서초", "관악·동작");
            console.log(option1);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }

        } else if (option1 == "selectB") { //인천
            options = new Array("구역선택", "서구", "동구", "연수구", "미추홀구", "남동구", "중구", "계양구", "부평구");
            values = new Array("동 선택", "서구", "동구", "연수구", "미추홀구", "남동구", "중구", "계양구", "부평구");
            console.log(options);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }
        } else if (option1 == "selectC") { //경기 북부
            options = new Array("구역선택", "연천·포천", "가평·양평", "남양주·구리·하남", "동두천·양주·의정부", "파주·고양", "김포·부천");
            values = new Array("구역선택", "연천·포천", "가평·양평", "남양주·구리·하남", "동두천·양주·의정부", "파주·고양", "김포·부천");
            console.log(options);
            console.log(values);

            for (i = 0; i < 8; i++) {
                /*selectOption.options[i] = null;*/
                console.log(values[i], options[i]);
            }
        } else if (option1 == "selectD") { //경기 남부
            options = new Array("구역선택", "광명·시흥·안산", "안양·군포·과천·의왕", "성남·분당", "용인", "화성·오산", "평택", "평택", "안성·이천·여주");
            values = new Array("구역선택", "광명·시흥·안산", "안양·군포·과천·의왕", "성남·분당", "용인", "화성·오산", "평택", "평택", "안성·이천·여주");
            console.log(options);
            console.log(values);
        }
        //select box 기본옵션 초기화
        for (i = 0; i < option1.length; i++) {
            selectOption.options[i] = null;
        }


        // seconds select box
        for (i = 0; i < options.length; i++) {
            selectOption.options[i] = new Option(options[i], values[i]);
            /*selectOption.options[i] = new Option(options[i], values[i]);*/
        }

    }

    function get_option3(option1, option2, selectOption) {
        //구 선택시 동 나옴
        // secondsBox
        if (option2 == "미추홀구") { //1
            values = new Array("구역선택", "숭의동", "용현동", "도화동", "주안동", "학익동", "관교동", "문학동");
            options = new Array("숭의동", "용현동", "도화동", "주안동", "학익동", "관교동", "문학동");
        } else if (option2 == "계양구") { //인천
            options = new Array("효성동", "계양동", "작전동", "서운동", "직접입력");
            values = new Array("효성동", "계양동", "작전동", "서운동", "직접입력");
        }
        // 눈 속임용...
        else if (option2 == "마포·용산") { //인천
            options = new Array("아현동", "공덕동", "상암동", "마포동", "후암동", "용산동", "서계동", "이촌동", "이태원동", "직접입력");
            values = new Array("아현동", "공덕동", "상암동", "마포동", "후암동", "용산동", "서계동", "이촌동", "이태원동", "직접입력");
        } else if (option2 == "서구") { //인천
            options = new Array("백석동", "검암동", "경서동", "공촌동", "가정동", "가좌동", "연희동", "심곡동", "석남동", "직접입력");
            values = new Array("백석동", "검암동", "경서동", "공촌동", "가정동", "가좌동", "연희동", "심곡동", "석남동", "직접입력");
        } else if (option2 == "광명·시흥·안산") { //인천
            options = new Array("광명동", "철산동", "소하동", "하안동", "신천동", "대야동", "방산동", "정왕동", "월곶동", "상록구", "단원구", "직접입력");
            values = new Array("광명동", "철산동", "소하동", "하안동", "신천동", "대야동", "방산동", "정왕동", "월곶동", "상록구", "단원구", "직접입력");
        } else if (option2 == "연천·포천") { //인천
            options = new Array("연천읍", "전곡읍", "군남면·청산면", "신읍동", "자작동", "포천동", "동교동", "직접입력");
            values = new Array("연천읍", "전곡읍", "군남면·청산면", "신읍동", "자작동", "포천동", "동교동", "직접입력");
        }


        for (i = 0; i < option2.length; i++) {
            selectOption.options[i] = null;
        }

        // seconds select box
        for (i = 0; i < options.length; i++) {
            selectOption.options[i] = new Option(options[i], values[i]);
        }
    }

</script> &lt;!&ndash;주소지를 선택&ndash;&gt;-->
<script src="/js/webSocket.js"></script>
</html>