<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/form.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script> <!--바보 ^^-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta charset="UTF-8">
    <title>[뭐먹을까요:업체] 업체 정보 수정 </title>
</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }

    #storeUpdateForm input{
        margin-bottom: 5px;
    }

</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <span id=logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class="col-2">
                <!-- 공백란 -->
            </div>
            <div class="col-2">
            </div>
            <div class="col-4">
                <span id="menuBar-text">
                    <div th:if="${session.storeLoginEmail}">
                        <a href="/usual/logout">로그아웃</a>
                        <a th:href="@{|/store/menuControl/${session['storeLoginEmail']}|}">메뉴관리</a>
                        <a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}"> 주문관리</a>
                        <a th:href="@{|/store/sale/${session['storeLoginEmail']}|}"> 정산확인</a>
                    </div><!-- 업체로그인시 -->
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
            </div>
        </div>
    </div>
</header><!--header 수정완료-->

<section>
<form action = "/usual/supdate" id="storeUpdateForm" th:object="${storeUpdate}" enctype="multipart/form-data" method="put">
    <!-- 업종 분류 -->
    <select class="form-select" name="bigCategoryNumber" placeholder="꼭 선택해주세요!" aria-label="Default select example">
        <option selected>  </option>
        <option value="1" >한식전문</option>
        <option value="2" >중식전문</option>
        <option value="3" >일식전문</option>
        <option value="4" >양식전문</option>
        <option value="5" >패스트푸드/기타</option>
    </select>


<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <input type="hidden" th:field = "*{storeNumber}">
    <input type="text" th:field = "*{storeEmail}" readonly>
    <br>
    <input type="password" th:field="*{storePassword}" placeholder="비밀번호"><br>

    <input type="text"  th:field = "*{storeName}" placeholder="매장명"><br>
    <input type="text" th:field="*{storePhone}" placeholder="매장연락처"><br>
    오픈시간: <input type="time" th:field="*{storeOpen}">  마감시간: <input type="time" id="storeClose" name = "storeClose" th:field="*{storeClose}"><br>

    <div id = storeAddressForm>
        <input type="text" id="sample3_postcode" placeholder="우편번호">
        <input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="sample3_address" th:field="*{storeAddress}" placeholder="주소"><br>
        <input type="text" id="sample3_detailAddress" th:name= "*{storeAddress}" placeholder="상세주소">
        <input type="text" id="sample3_extraAddress" th:name= "*{storeAddress}" placeholder="참고항목">
        <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
        </div>
    </div>
</form>
    <button onclick="store_update_form()">수정하기</button>
</section>
<footer></footer>
</body>

<script>
    function store_update_form() {
        const formData = $("#storeUpdateForm").serialize();
        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');
        $.ajax({
            type: 'put',
            url: '/usual/supdate',
            data: formData,
            dataType: 'text',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (result) {
                console.log(result)
                if (result === "ok") {
                    console.log("???")
                    location.href = "/storeMain";
                } else  {
                    alert("number다름");
                }
            },
            error: function ()  {
                alert("ㅠ.ㅠ");
            }
        });

    }
</script><!-- 업체 정보 수정 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script> //우편번호 찾기 찾기 화면을 넣을 element

var element_wrap = document.getElementById('wrap');

function foldDaumPostcode() {
    // iframe을 넣은 element를 안보이게 한다.
    element_wrap.style.display = 'none';
}

function sample3_execDaumPostcode() {
    // 현재 scroll 위치를 저장해놓는다.
    var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
    new daum.Postcode({
        oncomplete: function(data) {
            // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("sample3_extraAddress").value = extraAddr;

            } else {
                document.getElementById("sample3_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('sample3_postcode').value = data.zonecode;
            document.getElementById("sample3_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("sample3_detailAddress").focus();

            // iframe을 넣은 element를 안보이게 한다.
            // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
            element_wrap.style.display = 'none';

            // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
            document.body.scrollTop = currentScroll;
        },
        // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
        onresize : function(size) {
            element_wrap.style.height = size.height+'px';
        },
        width : '100%',
        height : '100%'
    }).embed(element_wrap);

    // iframe을 넣은 element를 보이게 한다.
    element_wrap.style.display = 'block';
}
</script> <!--카카오 주소 api-->
</html>