/*카드형 리스트 출력 스타일*/
/* 폰트 설정 */
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/* 로고타이틀 용 */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/* 상단 메뉴바 폰트 */
@font-face {/*여기어때*/
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/* 제목용으로 쓰기 좋아요 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/* 가독성+귀여운 */

/*리스트 출력폰트 v1. 별루당..*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*리스트 출력 폰트 v2.*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*쿠폰등록 폰트 v1.(약간 두꺼움)*/
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*쿠폰등록 폰트 v2. 충북대 70주년체 */
@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration-line: none;
}   /* 하이퍼링크 꾸밈요소 삭제 */
a:link    {
    color: sandybrown;
} /* 하이퍼링크 관련 */
a:visited {
    color: sandybrown;
}
a:hover   {
    color: coral;
}
a:active  {
    color: deeppink;
}
/*---------------------------------------------------*/
header{
    background-color: white;
    opacity: 90%;
    height: 80px;
    width: 100%;
    z-index: 1;
    top:0; left: 0;
    position: relative;
    position: fixed;
    /*transform: translate(0,0);*/
    margin-bottom: 10px;
}/*헤더전체*/


#logoTitle  {
    font-family: 'Yeongdo-Rg';
    opacity: 100%;
    display: inline-block;
    transform: translate(0,50%);
    color: white;
    margin: 8px
}

#menuBar-text    {
    transform: translate(0,85%);
    font-family: 'LeeSeoyun';
    text-align: right;
    display: inline-block;
    float: right;
    font-size: 18px;
    margin: 10px;
    word-spacing: 10px;
}

#menuBar-friPan  {
    transform: translate(0,48%);
    font-size: larger;

}
#menuBar-search {
    margin: 5px;
}

/*---------------------------------------------------*/
/* body-main 부분 */
section{
    position: relative;
    top: 100px;
    width: 100%;
    /*z-index: auto;*/
    text-align: center;
}
.container-section  {
    display: grid;
    width: 1080px;
    /*giving grid to container*/
    grid-template-columns: 1fr 5fr; /* 열의 길이 */
    grid-template-rows: 300px 300px ; /* 행의 높이 */
    gap: 15px;  /* 자식요소간의 간격 */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}


.orderInfo{
    position: relative;
    display: grid;
    transform: translate(0,0%);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
}

.item   {
    /*background-color: sandybrown;*/ /*칸 나눠지는거 확인하려고 쓴 코드, 나중에 지우세용!*/
    width: 100%;
    height: 100%;
}
.leftMenuBar{       /* 원래는 ajax로 이동해야하지만 번거로와도 링크를 걸어줍시다 ㅠ ㅋㅋ */
    font-family: 'Yeongdo-Rg';
    position: relative;
    font-size: larger;
    display: inline-block;
    top: 80%;
    transform: translate(0,0%);
    color: sandybrown;
}


.admin-section  {
    display: grid;
    width: 1080px;
    /*giving grid to container*/
    grid-template-columns: 1fr 5fr; /* 열의 길이 */
    grid-template-rows: 300px 300px ; /* 행의 높이 */
    gap: 15px;  /* 자식요소간의 간격 */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
  
.container-section-sale  {
    display: grid;
    width: 1080px;
    grid-template-columns: 1fr 5fr; /* 열의 길이 */
    grid-template-rows: 50px 600px ; /* 행의 높이 */
    gap: 15px;  /* 자식요소간의 간격 */

    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}  
  
  
  
/*관리자페이지 사이드바*/
.admin-list{
    position: relative;
    display: grid;
    top: 80px;
    text-align: center;
    /*gap: 10px;  !* 자식요소간의 간격 *!*/
    /*transform: translate(0,0%);*/
    /*grid-template-columns: 2fr 1fr;*/
    /*grid-template-rows: 1fr 1fr ;*/
    /*gap: 10px;*/
}


/*관리자 페이지 리스트 출력 부분*/
.contentSection{
    font-family: 'IBMPlexSansKR-Regular';
    position: relative;
    display: grid;
    width: 600px;
    gap:15px;
    left: 36%;
    top: 50px;
    text-align: center;
}

.reportBtnSection{
    position: relative;
    width: 500px;
    left: 36%;
    gap: 10px;
}

/*메뉴링크 버튼*/
.button{
    background-color: darkgray;
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: peachpuff;
    opacity: 50%;
    color: black;
}

.button:active{
    background-color: lightsalmon;
}



/*--------------쿠폰 섹션----------------*/
/* body-main 부분 */
.couponSection{
    /*font-family: 'IBMPlexSansKR-Medium';*/
    /*font-family: 'ChungbukNationalUniversity-Regular';*/
    font-family: 'IBMPlexSansKR-Regular';
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;

    /*z-index: auto;*/
    /*text-align: center;*/
}
#hello  {
    text-align: center;

}
.form-select    {
    margin-top: 30px;
    margin-bottom: 10px;
}
#joinForm input  {
    /*        border-radius: 0.25rem;
            border: 1.5px solid sandybrown;*/
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 15px;

}



/* ------------------------------------------ */
footer{
    background-color: gainsboro ;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 3%;
    bottom: 0%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: darksalmon;
    font-family: 'Cafe24SsurroundAir';
}