<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<link href="/css/realIndex.css" rel="stylesheet" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>[뭐먹을까요] 어서오세요</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<style>
    a{ text-decoration-line: none; }   /* 하이퍼링크 꾸밈요소 삭제 */
    a:link    {
        color: sandybrown;
    } /* 하이퍼링크 관련 */
    a:visited {
        color: sandybrown;
    }
    a:hover   {
        color: coral;
    }
    a:active  {
        color: deeppink;
    }

</style><!-- 하이퍼링크용: 수정가능성 있음 -->
<body>
<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-3">
                <span id = logoTitle>
                    <h3><a href="/"> 🍙 뭐먹을까요?</a></h3>
                </span>
            </div>
            <div class = "col-2">
                <!-- 공백란 -->
            </div>
            <div class = "col-2">
                <!--<form class="d-flex" id="menuBar-search">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
            <div class="col-4">
                <span id= "menuBar-text">
                     <div th:if="${session.customerLoginEmail == null && session.storeLoginEmail == null}"><!-- 로그인 없음-->
                         뭐먹을까요, eating together!
                     </div>
                    <div th:if="${session.customerLoginEmail}">
                        <a href="/usual/logout"> 로그아웃</a>
                        <a href="/customer/"> 마이페이지</a>
                        <a href="/customer/basket"> 장바구니</a>
                        <a href="/contact">011해적단</a>
                    </div><!-- 회원로그인시 -->

                    <div th:if="${session.storeLoginEmail}">
                        <a href="/usual/logout">로그아웃</a>
                        <a th:href="@{|/store/menuControl/${session['storeLoginEmail']}|}">메뉴관리</a>
                        <a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}"> 주문관리</a>
                        <a th:href="@{|/store/sale/${session['storeLoginEmail']}|}"> 정산확인</a>
                        <a href="/contact">011해적단</a>
                    </div><!-- 업체로그인시 -->
                </span>
            </div>
            <div class="col" id="menuBar-friPan">
                <a href="#" class="btn btn-light btn-sm " tabindex="-1" role="button" aria-disabled="true">🍳</a>
                <!--<button class="btn btn-right" id="menuBar-offCanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">🍳</button>-->
            </div>
        </div>
    </div>
</header><!--header 헷갈리니까 접어두고 사용하기! 이동할 menu text & link 체크해주세요~-->
<section>
    <div class="container-section">
        <div class="item" id="carousel">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" id="korea">
                    <div class="carousel-item active">
                        <img src="https://cdn.pixabay.com/photo/2018/04/03/11/20/palace-bo-3286574_960_720.jpg" class="d-block w-100" alt="한식">
                    </div>
                    <div class="carousel-item" id="pizza">
                        <img src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939_960_720.jpg" class="d-block w-100" alt="양식">
                    </div>
                    <div class="carousel-item" id="japan">
                        <img src="https://cdn.pixabay.com/photo/2018/03/06/09/02/food-3202918_960_720.jpg" class="d-block w-100" alt="일식">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div><!-- 캐러셀 -->
        <div class="item" id="login">
                <div th:if="${session.customerLoginEmail == null && session.storeLoginEmail == null}"><!-- 로그인 없음-->
                    <div class="nothing">
                        <div class="nothing1">
                            <h3><a href="/usual/loginForm"> <p>🧡</p>로그인</a></h3>
                        </div>
                        <div class="nothing2">
                            <h3><a href="/usual/customer"><p>👑</p>회원 가입</a></h3>
                        </div>
                        <div class="nothing3">
                            <h3><a href="/usual/store"><p>🍙</p>업체 가입</a></h3>
                        </div>
                    </div>
                </div>

                <div th:if="${session.customerLoginEmail != null}"> <!-- 회원 -->
                    <div class="loginMember">
                        <div class="loginMember1">
                        <h3><a href="/store/category"><p>🥄</p>주문 하기</a></h3>
                        </div>
                        <div class="loginMember2">
                        <h3><a href="/customer/basket"><p>🐱‍👓</p>장바구니</a></h3>
                        </div>
                        <div class="loginMember3">
                        <h3><a href="/customer/"><p>🐾</p>마이페이지</a></h3>
                        </div>
                        <div th:if="${session.customerLoginEmail == 'admin'}">
                            <h3><a href="/admin/"><p>🍙</p>관리자 페이지</a></h3>
                        </div>
                    </div>
                </div> <!--회원 로그인시-->

                <div th:if="${session.storeLoginEmail != null}"> <!-- 업체-->
                    <div class="loginStore">
                        <div class="ls1">
                            <h3><a href="/store/delivery"> <p>🚗</p>배달지 등록 </a><br></h3>
                        </div>
                        <div class="ls2">
                            <h3><a th:href="@{|/store/orderAll/${session['storeLoginEmail']}|}"> <p>📖</p>주문관리 </a><br></h3>
                        </div>
                        <div class="ls3">
                            <h3><a href="/storeMain"><p>👀</p>스토어관리</a></h3>
                        </div>
                        <div class="ls4">
                            <h3><a th:href="@{|/store/menuControl/${session['storeLoginEmail']}|}"> <p>➕</p>메뉴관리 </a><br></h3>
                        </div>
                        <div class="ls5">
                            <h3><a th:href="@{|/store/sale/${session['storeLoginEmail']}|}"> <p>💰</p>정산페이지 </a><br></h3>
                        </div>
                    </div>  <!--업체 로그인시-->
                </div><!-- 로그인 -->
        </div>
    </div>
</section>
<div id="msgStack"></div>
</body>
<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script><!--토스트-->
<script src="/js/webSocket.js"></script>
</html>