<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customerMyPage</title>
</head>
<body>
<h2>customerMyPage</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>닉네임</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>등급</th>
            <th>포인트</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerPassword}"></td>
            <td th:text="${customer.customerNickname}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerGrade}"></td>
            <td th:text="${customer.customerPoint}"></td>
        </tr>
    </tbody>
</table>
<a href="/customer/update">내 정보 수정</a><br>
<a href="/customer/history">주문 내역</a><br>
<a href="/customer/coupon">쿠폰함</a><br>
<a href="/customer/point">포인트 사용 내역</a><br>
<a href="/customer/review">내 리뷰 관리</a><br>
<a href="/customer/wishlist">찜 리스트</a><br>
<a href="/customer/kakaoUnlink">카카오 회원 탈퇴</a>
<div id="msgStack"></div>
</body>
<script src="/js/webSocket.js"></script>
</html>