<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>point</title>
</head>
<body>
<h2>point</h2>
<h3>내 포인트 <p th:text="${point}"></p></h3>
<div th:if="${pointList != null}">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>주문번호</th>
            <th>매장 이름</th>
            <th>날짜</th>
            <th>내용</th>
            <th>포인트</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${pointList}">
            <td th:text="${p.pointNumber}"></td>
            <td><a th:href="@{|/customer/history/${p.orderNumber}|}"><p th:text="${p.orderNumber}"></p></a></td>
            <td><a th:href="@{|/store/${p.storeNumber}|}"><p th:text="${p.storeName}"></p></a></td>
            <td th:text="${p.storeName}"></td>
            <td th:text="${p.pointTime}"></td>
            <td th:text="${p.pointHistory}"></td>
            <td th:text="${p.pointQuantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${pointList == null}">
    포인트 사용/적립 내역이 없습니다!
</div>
<div id="msgStack"></div>
</body>
<script src="/js/webSocket.js"></script>
</html>