<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wishlist</title>
</head>
<body>
<h2>my wishlist</h2>
<table>
    <thead>
        <tr>
            <th>일단 번호</th>
            <th>매장 사진</th>
            <th>매장 이름</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="w : ${wishlist}">
            <td th:text="${w.wishlistNumber}"></td>
            <td><img th:src="@{|/upload/store/${w.storeFilename}|}" alt=""></td>
            <td><a th:href="@{|/store/${w.storeNumber}|}"><p th:text="${w.storeName}"></p></a></td>
        </tr>
    </tbody>
</table>
</body>
</html>